{{#each this}}
  <div class='country-block'>
    <img class='flag' src='{{flag}}' />
    <h1>{{name}}</h1>
  </div>
  <p>Capital: <span>{{capital}}</span></p>
  <p>Population: <span>{{population}}</span></p>
  <p>Languages: <span>{{#each languages}}{{name}}{{/each}}</span></p>
  <p>Currency: <span>{{#each currencies}}{{name}} {{symbol}}{{/each}}</span> </p>

{{/each}}